
<div class="container mt-4">
  <h3 class="text-center">Template Driven Form</h3>

    <form #registerForm="ngForm" (ngSubmit)="submitForm(formId)">

    <div class="mb-3">
      <label for="clientID" class="form-label">Client ID</label>
      <input
        type="text"
        class="form-control"
        id="clientID"
        placeholder="Enter Client ID"
        [(ngModel)]="form.clientID"
        name="clientID"
        #clientID="ngModel"
        required
      >
    </div>
    
    <div class="mb-3">
      <label for="loanLender1" class="form-label">Loan Lender Name-1</label>
      <input
        type="text"
        class="form-control"
        id="loanLender1"
        placeholder="Enter Loan Lender Name"
        [(ngModel)]="form.loanLender1"
        name="loanLender1"
        #loanLender1="ngModel"
        required
      >
    </div>

    <div class="mb-3">
      <label for="dob" class="form-label">Enter your Date of Birth</label>
      <input
        type="date"
        class="form-control"
        id="dob1"
        placeholder="Enter your date birth"
        [(ngModel)]="form.dob"
        name="dob1"
        #dob="ngModel"
        required
      >
    </div>
    

    <!-- Additional lenders -->
       <!-- Additional lenders -->
       <div *ngFor="let lender of lenders; let i = index" class="mb-4">
        <div class="d-flex align-items-center">
          <label for="loanLender{{ i + 2 }}" class="form-label">Loan Lender Name-{{ i + 2 }}</label>
          <button type="button" class="btn mb-2" (click)="removeLoanLender(i)">
            <i class="bi bi-dash-circle" style="font-size: 12;"></i>
          </button>
        </div>
        <input
          type="text"
          class="form-control"
          id="loanLender{{ i + 2 }}"
          placeholder="Enter Loan Lender Name"
          [(ngModel)]="lender.name"
          name="loanLender{{ i + 2 }}"
          required
        >
        <div class="mb-3"> </div>
        <label for="dob{{ i + 2 }}" class="form-label">Date of Birth</label>
        <input
          type="date"
          class="form-control"
          id="dob{{ i + 2 }}"
          [(ngModel)]="lender.dob"
          name="dob{{ i + 2 }}"
          required
        >
      </div>
  
      <div class="mb-3">
        <h6>Add more Loan Lenders <i class="bi bi-plus-circle" (click)="addLoanLender()" style="font-size: 24px;"></i></h6>
      </div>
  

    <!-- Nominee Name -->
    <div class="mb-4">
      <label for="nomineeName" class="form-label">Nominee Name</label>
      <input
        type="text"
        class="form-control"
        id="nomineeName"
        placeholder="Enter Nominee Name"
        [(ngModel)]="form.nomineeName"
        name="nomineeName"
        #nomineeName="ngModel"
        required
      >
    </div>
    
    <div class="mb-4">
      <label for="nomineeName" class="form-label">Nominee Date of Birth</label>
      <input
        type="number"
        class="form-control"
        id="nomineeDob"
        placeholder="Enter nominee date of birth"
        [(ngModel)]="form.nomineeDob"
        name="nomineeDob"
        #nomineeDob="ngModel"
        required
      >
    </div>
    
    <!-- Money Lender Name -->
    <div class="mb-4">
      <label for="moneyLenderName" class="form-label">Money Lender Name</label>
      <input
        type="text"
        class="form-control"
        id="moneyLenderName"
        placeholder="Enter Money Lender Name"
        [(ngModel)]="form.moneyLenderName"
        name="moneyLenderName"
        #moneyLenderName="ngModel"
        required
      >
    </div>

    <!-- Loan Account Number -->
    <div class="mb-4">
      <label for="loanAccountNumber" class="form-label">Loan Account Number</label>
      <input
        type="number"
        class="form-control"
        id="loanAccountNumber"
        placeholder="Enter Loan Account Number"
        [(ngModel)]="form.loanAccountNumber"
        name="loanAccountNumber"
        #loanAccountNumber="ngModel"
        onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
        required
      >
    </div>

    <!-- Loan Type -->
    <div class="mb-4">
      <label for="loanType" class="form-label">Loan Type</label>
      <input
        type="text"
        class="form-control"
        id="loanType"
        placeholder="Enter Loan Type"
        [(ngModel)]="form.loanType"
        name="loanType"
        #loanType="ngModel"
        required
      >
    </div>

    <!-- Collateral Against Loan -->
    <div class="mb-4">
      <label for="collateral" class="form-label">Collateral Against Loan</label>
      <input
        type="text"
        class="form-control"
        id="collateral"
        placeholder="Enter Collateral"
        [(ngModel)]="form.collateral"
        name="collateral"
        #collateral="ngModel"
        required
      >
    </div>

    <!-- Rate of Interest -->
    <div class="mb-4">
      <label for="interestRate" class="form-label">Rate of Interest (in %)</label>
      <input
        type="number"
        class="form-control"
        id="interestRate"
        placeholder="Enter Rate of Interest"
        [(ngModel)]="form.interestRate"
        name="interestRate"
        #interestRate="ngModel"
        onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
        min="0"
        required

      >
    </div>

    <!-- Interest Type -->
    <div class="mb-4">
      <label for="interestType" class="form-label">Interest Type</label>
      <input
        type="text"
        class="form-control"
        id="interestType"
        placeholder="Enter Interest Type"
        [(ngModel)]="form.interestType"
        name="interestType"
        #interestType="ngModel"
        required
      >
    </div>

    <!-- Date of Loan Disbursal -->
<div class="mb-4">
  <label for="disbursalDate" class="form-label">Date of Loan Disbursal</label>
  <input
    type="date"
    class="form-control"
    id="disbursalDate"
    placeholder="Select Date of Loan Disbursal"
    [(ngModel)]="form.disbursalDate"
    name="disbursalDate"
    #disbursalDate="ngModel"
    (ngModelChange)="calculateRemainingLoanTenure()"
    required
  >
</div>

    <!-- Loan Amount -->
    <div class="mb-4">
      <label for="loanAmount" class="form-label">Loan Amount</label>
      <input
        type="number"
        class="form-control"
        id="loanAmount"
        placeholder="Enter Loan Amount"
        [(ngModel)]="form.loanAmount"
        name="loanAmount"
        #loanAmount="ngModel"
        onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
        required
        min="0"
      >
    </div>


  

 <!-- Loan Payment Tenure -->
<div class="mb-4">
  <label for="loanPaymentTenure" class="form-label">Loan Payment Tenure (in months)</label>
  <input
    type="number"
    class="form-control"
    id="loanPaymentTenure"
    placeholder="Enter Loan Payment Tenure"
    [(ngModel)]="form.loanPaymentTenure"
    name="loanPaymentTenure"
    #loanPaymentTenure="ngModel"
    (ngModelChange)="calculateLastRepaymentDate(); calculateRemainingLoanTenure()"
    [value]="form.loanPaymentTenure"

    min="0"
    
    onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
    required
  >
</div>


    <!-- Last Loan Repayment Date -->

<div class="mb-4">
  <label for="lastRepaymentDate" class="form-label">Last Loan Repayment Date</label>
  <input
    type="date"
    class="form-control"
    id="lastRepaymentDate"
    placeholder="Select Last Loan Repayment Date"
    [(ngModel)]="form.lastRepaymentDate"
    name="lastRepaymentDate"
    #lastRepaymentDate="ngModel"
    [value]="form.lastRepaymentDate"
    (ngModelChange)="calculateRemainingLoanTenure()"
    [value]="form.lastRepaymentDate"
  
  
    required
    disabled
  >
</div>

    <!-- Monthly EMI Account -->
    <div class="mb-4">
      <label for="emiAccount" class="form-label">Monthly EMI Account</label>
      <input
        type="number"
        class="form-control"
        id="emiAccount"
        placeholder="Enter Monthly EMI Account"
        [(ngModel)]="form.monthlyEMIAccount"
        name="monthlyEMIAccount"
        #monthlyEMIAccount="ngModel"
        min="0"
        onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"
        required
      >
    </div>

    <!-- EMI Date -->
    <div class="mb-4">
      <label for="emiDate" class="form-label">EMI Date</label>
      <select
        class="form-select"
        id="emiDate"
        placeholder="Please choose EMI date"
        [(ngModel)]="form.emiDate"
        name="emiDate"
        required
      >
        <option *ngFor="let day of days" [value]="day">{{ day }}</option>
      </select>
    </div>
 
    <div class="mb-4">
      <label for="emiDeductionBankDetails" class="form-label">EMI Deduction Bank Details</label>
      <input
        type="text"
        class="form-control"
        id="emiDeductionBankDetails"
        placeholder="Enter EMI Deduction Bank Details"
        [(ngModel)]="form.emiDeductionBankDetails"
        name="emiDeductionBankDetails"
        #emiDeductionBankDetails="ngModel"
        required
      >
    </div>

    <div class="mb-4">
      <label for="remainingLoanTenure" class="form-label">Remaining Loan Tenure (in months)</label>
      <input
        type="number"
        class="form-control"
        id="remainingLoanTenure"
        [(ngModel)]="form.remainingLoanTenure"
        name="remainingLoanTenure"
        #remainingLoanTenure="ngModel"
        [value]="form.remainingLoanTenure"
        disabled
      >
    </div>

    
    <div class="mb-4">
      <label for="loanInsuranceDetails" class="form-label">Loan Insurance Details</label>
      <input
        type="text"
        class="form-control"
        id="loanInsuranceDetails"
        placeholder="Enter loan insurance details"
        [(ngModel)]="form.loanInsuranceDetails"
        name="loanInsuranceDetails"
        #loanInsuranceDetails="ngModel"
        required
      >
    </div>

    <div class="mb-4">
      <label for="futureLoanRequirements" class="form-label">Future Loan Requirements</label>
      <input
        type="text"
        class="form-control"
        id="futureLoanRequirements"
        placeholder="Yes/No"
        [(ngModel)]="form.futureLoanRequirements"
        name="futureLoanRequirements"
        #futureLoanRequirements="ngModel"
        required
      >
    </div> 
    
    <div class="mb-4">
      <label for="requirementType" class="form-label">Type of Requirement</label>
      <input
        type="text"
        class="form-control"
        id="requirementType"
        placeholder="Enter the type of requirement"
        [(ngModel)]="form.requirementType"
        name="requirementType"
        #requirementType="ngModel"
        required
      >
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary mx-2">Submit</button>
      <button type="button" class="btn btn-primary mx-2" (click)="onAddNewForm()">Add New Form</button>
    </div>
  </form>
</div>
